
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section	Styles	{
    <link href="~/Content/css/Dashboard/index.css" rel="stylesheet" />
}

<div class="col-6 col-md-4 col-xl-2">
    <a class="block block-link-shadow text-center" href="@Url.Action("ConsultarOcorrencia","Ocorrencia")">
        <div class="block-content ribbon ribbon-bookmark ribbon-primary ribbon-left" id="qtdOcorrencia">
            <div class="ribbon-box">@ViewBag.QtdOcorrencias</div>
            <p class="mt-5">
                <i class="si si-bubbles fa-3x"></i>
            </p>
            <p class="font-w600">Ocorrências</p>
        </div>
    </a>
</div>

@section	ScriptPage	{
    <script src="~/Scripts/Views/Dashboard/Index.js"></script>
}