@model IEnumerable<Modelo.Entidades.IteracaoOcorrencia>

<div class="block-content block-content-full">
    @foreach (var item in Model)
    {
        <ul class="list list-timeline list-timeline-modern pull-t">
            <!-- Twitter Notification -->
            <li>
                <div class="list-timeline-time">@Html.DisplayFor(modelItem => item.DataHoraIteracao)</div>
                <i class="list-timeline-icon fa fa-cog bg-gray-darker"></i>
                <div class="list-timeline-content">
                    <p class="font-w600">@Html.DisplayFor(modelItem => item.Assinatura)</p>
                    <p>@Html.DisplayFor(modelItem => item.TextoIteracao)</p>
                </div>
            </li>
            <!-- END Twitter Notification -->
        </ul>
    }
</div>
